@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* nav style start */

nav {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: #ffffff;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.541);
  cursor: pointer;
  position: absolute;
}

.n-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 7vw 1vw 7vw;
}

#nav1 {
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
}

#nav2 {
  display: flex;
  gap: 2vw;
}

#nav2 h4 {
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 600;
}

#nav2 h4:hover {
  color: #4c4c4c;
}

#nav3 button {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.2vw;
  color: white;
  background-color: #489f56;
  border: none;
  padding: 7px 10px;
  border-radius: 2rem;
}

#nav3 button span {
  height: 1.5vw;
  width: 1.5vw;
}

#nav4 {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5vw;
}

#nav4 h5 {
  font-size: 0.9vw;
  font-weight: 400;
  margin-right: 2rem;
  padding-bottom: 5px;
  animation: slideIn 0.5s ease;
}

#nav4 h5:hover {
  color: #4c4c4c;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* nav style ends  */

/* hero-section style start */

#hero-section {
  background-color: #111111;
  color: #ffffff;
  text-align: center;
  padding: 10vw 2vw 6vw 2vw;
}

#hero-section .part-1 {
  margin-bottom: 2.5vw;
}

#hero-section h1 {
  text-transform: uppercase;
  font-size: 7.5vw;
  line-height: 8.5vw;
  font-weight: 900;
}

#hero-section .part-1 svg {
  height: 5.5vw;
  width: 5.5vw;
  border-radius: 50%;
  background-color: #489f56;
}

#hero-section .part-2 {
  color: rgba(255, 255, 255, 0.792);
  font-size: 1.2vw;
}

#hero-section .part-2-extra {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#hero-section .part-2-extra div {
  border: 1px solid rgb(177, 176, 176);
  border-radius: 15px;
  padding: 5px;
}

#hero-section .part-2-extra span {
  border: none;
  padding: 3px;
}

/* hero-section style ends */

/* slider section style start */

.slider-section {
  background-color: #111111;
  width: 100%;
  text-align: center;
}

marquee {
  width: 55%;
  padding: 1vw;
  margin-bottom: 5vw;
  z-index: 1;
}

.slider-section .left {
  background: linear-gradient(to right, #111, transparent);
  position: absolute;
  left: 22.2vw;
  width: 6vw;
  height: 4.3vw;
  z-index: 2;
}

.slider-section .right {
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  bottom: -12.5px;
  right: 22.2vw;
  width: 6vw;
  height: 4.3vw;
  z-index: 2;
}

.slider-section img {
  color: #ffffff;
  height: 2vw;
  padding-right: 10px;
}

/* slider section style ends */

/* page-2 style start */

#page-2 {
  display: flex;
  width: 100%;
  /* height: 55vh; */
  gap: 9vw;
  background-color: #111111;
  color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.288);
  padding: 0 6.8vw;
}

#page-2 #left-side-p2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 80vh;
}

#left-side-p2 p {
  padding: 2vw;
  font-size: 1vw;
  color: #ffffffe0;
}

#left-side-p2 h5 {
  padding: 2vw;
  font-size: 1.2vw;
  font-weight: 300;
  color: #ffffffe0;
}

#page-2 #right-side-p2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#page-2 #right-side-p2 .p2-right-elem {
  border-top: 1px solid rgba(255, 255, 255, 0.267);
  padding: 1vw 0 5vw 0;
  font-size: 1vw;
  transition: 0.2s ease;
}

#page-2 #right-side-p2 .p2-right-elem:hover {
  border-top: 1.8px solid rgba(255, 255, 255, 0.858);
}

.p2-right-elem {
  display: flex;
  justify-content: space-between;
}

.p2-right-elem h2 {
  font-weight: 400;
  color: #ffffffd4;
}

.p2-right-elem div {
  display: flex;
  gap: 0.5rem;
}

.p2-right-elem span {
  color: #ffffffd4;
}

.p2-right-elem p {
  color: gray;
}

.p2-img {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  object-fit: cover;
  position: fixed;
  transition: 0.1s ease;
  /* opacity: 0; */
}
